@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  /* background: red; */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.links {
  color: red;
  text-decoration: underline;
  margin: 10px 5px;
}
